.main-box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    display: column;
    font-family: arial;
    /* margin: 25px; */
    background-image: linear-gradient(to bottom, black, rgb(22, 34, 43));
    background-size: 100%;
    color: white;
    height: 100vh;
    width: 100vw;
    padding: 15px;
    margin-left: -1%;
    margin-top: -1%;


}

.title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.route-box {
    /* border: 3px solid rgb(218, 218, 218); */
    border-radius: 10px;
    padding: 50px;
    width: 80%;
    height: 75vh;
    margin: auto;
    overflow-y: scroll;
}
.header {
    width: 1400px;
    margin: auto;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}
.margin-box {
    height: 20px;
}

.search-bar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 250px;
    /* border-radius: 10px; */
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    height: 28px;
    box-shadow: 0px 8px 6px -6px transparent;
    border-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
}

.coin-box {
    display: flex;
    align-items: center;
    height: 100px;
}

.conv-result {
    font-size: 35px;
}

.clickme-btn {
    background-color: rgb(74, 92, 119);
    color: white;
    width: 190px;
    /* border-radius: 10px; */
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    height: 35px;
    box-shadow: 0px 8px 6px -6px transparent;
    border-color: transparent;
    border-radius: 10px;
}
.clickme-btn:hover {
    background-color: rgb(53, 164, 255);
    font-size: 23px;
}
.clickme-btn:active {
    background-color: rgb(103, 230, 247);
    font-size: 24px;
}

.links-btn {
    background-color: transparent;
    color: white;
    width: 190px;
    /* border-radius: 10px; */
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    height: 35px;
    box-shadow: 0px 8px 6px -6px transparent;
    border-color: transparent;
}
.links-btn:hover {
    color: rgb(53, 164, 255);
    font-size: 25px;
}
.links-btn:active {
    color: rgb(91, 144, 212);
    font-size: 28px;
}

.todo-lines {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.todo-lines li {
    margin-right: 15px;
}
.todo-btns {
    background-color: rgb(74, 92, 119);
    font-size: 15px;
    color: white;
    width: 70px;
    margin-right: 3px;
    margin-left: 3px;
    height: 28px;
    box-shadow: 0px 8px 6px -6px transparent;
    border-color: transparent;
    border-radius: 7px;
}
.todo-btns:hover {
    background-color: rgb(0, 162, 255);
    font-size: 18px;
}
.todo-btns[data-name="delete-cancel"]:hover {
    background-color: red;
    font-size: 18px;
}
.todo-btns:active {
    color: rgb(91, 144, 212);
    font-size: 18px;
}

.movies-holder {
    display: flex;
}

.movie-contiainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; /* 터치 스크롤 */

}

.movie-box {
    height: 350px;
    width: 500px;
    margin-bottom: 20px;
    margin-right: 10px;

}

.go-back-btn {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 25px;
    margin-left: 96.3%;
    margin-top: 7px;
}
.go-back-btn:hover {
    color: red;
}
.go-back-btn:active {
    color: aliceblue;
}

.movie-img {
    height: 200px;
}
.movie-img:hover{
    height: 230px;
}

.lr-btn {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 33px;
    font-weight: bolder;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 90px;
    height: 100px;
    align-self: center;
}
.lr-btn:hover {
    color: rgb(64, 125, 255);
}
.lr-btn:active {
    color: rgb(89, 191, 250);
}

.detail-background {
    background-size: cover;
    background-position: center;
    height: 900px;
    color: white;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    text-decoration: solid;
    font-size: 18px;
    padding-left: 30px;
    border-radius: 15px;
    /* backdrop-filter: brightness(10%); */
    
  }
  
  .detail-background img {
    max-width: 100%;
    cursor: pointer;
    
  }

  .description-box {
    display: flex;
    margin-top: 100px;
  }

  .desc-img-name {
    width: 450px;
    margin-left: 50px;
  }

  .desc-desc {
    margin-left: 100px;
    margin-top: 50px;
    width: 800px;
    height: 600px;
    overflow-y: auto;
    margin-right: 5%;
  }

  .movie-description {
    overflow-y: auto;
  }

  .modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
  }
